* {
    box-sizing: border-box;
    font-family: "Merriweather", sans-serif;
}

/********
Header
*********/

header {
    text-align: center;
}

header h1 {
    margin: -10px;
    font-size: large;
    text-transform: uppercase;
    background-color: rgb(51, 68, 95);
    color: white;
    padding: 20px;
}

header h2 {
    padding: 20px 20px 0px 20px;
    margin-bottom: 10px;
    color: rgb(51, 68, 95);
    font-size: medium;
}

header p {
    margin-top: 0px;
    padding: 0px 20px 20px 20px;
    font-size: small;
    color: rgb(194, 194, 194);
}

.hr1 {
    border-bottom: 7px double rgb(51, 68, 95);
}

/********
Main
*********/

form {
    display: inline-block;
    padding-top: 15px;
}

fieldset {
    border: none;
}

fieldset p {
    color: rgb(135, 142, 158);
}

.legend {
    padding-bottom: 20px;
    color: rgb(51, 68, 95);
    font-size: medium;
    font-weight: bold;
}

input[type=text], input[type=email], input[type=tel], select {
    border: none;
    border-radius: 3px;
    width: 100%;
    padding: 15px 20px;
    margin: 10px 0 15px 0;
    background-color: rgb(243, 243, 243);
}

select {
    font-style: italic;
    color: rgb(170, 170, 170);
}

label {
    margin-top: 10px;
    color: rgb(149, 155, 170);
}

::placeholder {
    font-style: italic;
    text-align: right;
    color: rgb(128, 128, 128);
}

textarea {
    resize: none;
}



